<h1>hello</h1>
<% if user_signed_in? %>
    <%= current_user.user_name %>
<% end %>
<% @posts.each do |post|%>
    <h1><%= post.title %></h1>
    <%= post.body %>
    <%= post.view %>
    <%= post.publication_date %>
    <%= link_to "Кликни", post %>
    <%= link_to "Изменить", edit_post_path(post) %>
    <%= link_to 'Удалить', post, class: "btn btn-danger", method: :delete, data: { confirm: 'Вы уверены?' } %>
<p>
<% end %>
Я в index

