<h1><%= @post.title %></h1>
<%= @post.body %>
<%= @post.view %>
<%= @post.publication_date %><p>

<% if user_signed_in? %>
    <%= form_with model: [@post, @post_comment] do |f| %>
        <%= f.label "Ваш коммент" %>
        <%= f.text_field :message, minlength: 8 %>
        <%= f.submit "Добавить коммент" %>
    <%end%>
<% end %>

<% @post_comments.each do |post_comment| %>
    <%= post_comment.message %><p>
<% end %>










