<!DOCTYPE html>
<html>
  <head>
    <title>monolit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      Здравствуйсте, <%= current_user.user_name%>
    <% else %> 
      <%= link_to "Регистрация", sign_up_path %>
      <%= link_to "Войти", sign_in_path %>
    <% end %> 
    <%= yield %>
  </body>
</html>
